<!-- INICIO COMPONENT TASK  -->
<li
  class="list-group-item d-flex justify-content-between align-items-center border-start-0 border-top-0 border-end-0 border-bottom rounded-0 mb-2"
>
  <div class="d-flex align-items-center">
    <input
      class="form-check-input me-2"
      type="checkbox"
      value=""
      aria-label="..."
    />
    Finish reading the book "Atomic Habits"
  </div>
  <a href="#!" data-mdb-tooltip-init title="Remove item">
    <fa-icon [icon]="faTimes"></fa-icon>
  </a>
</li>
<!-- FIM COMPONENT TASK  -->

<!-- INICIO COMPONENT TASK  -->
<li
  class="list-group-item d-flex d-flex justify-content-between align-items-center border-start-0 border-top-0 border-end-0 border-bottom rounded-0 mb-2"
>
  <div class="d-flex align-items-center">
    <input
      class="form-check-input me-2"
      type="checkbox"
      value=""
      aria-label="..."
      checked
    />
    <s>Complete the project proposal for the new client</s>
  </div>
  <a href="#!" data-mdb-tooltip-init title="Remove item">
    <fa-icon [icon]="faTimes"></fa-icon>
  </a>
</li>
<!-- FIM COMPONENT TASK  -->

<!-- INICIO COMPONENT TASK  -->
<li
  class="list-group-item d-flex d-flex justify-content-between align-items-center border-start-0 border-top-0 border-end-0 border-bottom rounded-0 mb-2"
>
  <div class="d-flex align-items-center">
    <input
      class="form-check-input me-2"
      type="checkbox"
      value=""
      aria-label="..."
    />
    Organize the files on the desktop
  </div>
  <a href="#!" data-mdb-tooltip-init title="Remove item">
    <fa-icon [icon]="faTimes"></fa-icon>
  </a>
</li>
<!-- FIM COMPONENT TASK  -->

<!-- INICIO COMPONENT TASK  -->
<li
  class="list-group-item d-flex d-flex justify-content-between align-items-center border-start-0 border-top-0 border-end-0 border-bottom rounded-0 mb-2"
>
  <div class="d-flex align-items-center">
    <input
      class="form-check-input me-2"
      type="checkbox"
      value=""
      aria-label="..."
    />
    Prepare for the team meeting on Monday
  </div>
  <a href="#!" data-mdb-tooltip-init title="Remove item">
    <fa-icon [icon]="faTimes"></fa-icon>
  </a>
</li>
<!-- FIM COMPONENT TASK  -->

<!-- INICIO COMPONENT TASK  -->
<li
  class="list-group-item d-flex d-flex justify-content-between align-items-center border-start-0 border-top-0 border-end-0 border-bottom rounded-0 mb-0"
>
  <div class="d-flex align-items-center">
    <input
      class="form-check-input me-2"
      type="checkbox"
      value=""
      aria-label="..."
      checked
    />
    <s>Buy groceries for the week</s>
  </div>
  <a href="#!" data-mdb-tooltip-init title="Remove item">
    <fa-icon [icon]="faTimes"></fa-icon>
  </a>
</li>
<!-- FIM COMPONENT TASK  -->

<!-- INICIO COMPONENT TASK  -->
<li
  class="list-group-item d-flex justify-content-between align-items-center border-start-0 border-top-0 border-end-0 border-bottom rounded-0 mb-2"
>
  <div class="d-flex align-items-center">
    <input
      class="form-check-input me-2"
      type="checkbox"
      value=""
      aria-label="..."
    />
    Schedule a dentist appointment
  </div>
  <a href="#!" data-mdb-tooltip-init title="Remove item">
    <fa-icon [icon]="faTimes"></fa-icon>
  </a>
</li>
<!-- FIM COMPONENT TASK  -->
