<section class="vh-100" style="background-color: #e2d5de">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 15px">
          <div class="card-body p-5">
            <app-header></app-header>

            <!-- INICIO COMPONENT FORM -->
            <form class="d-flex justify-content-center align-items-center mb-4">
              <div data-mdb-input-init class="form-outline flex-fill">
                <textarea
                  type="text"
                  id="form3"
                  class="form-control form-control-lg"
                  rows="2"
                  placeholder="What do you need to do today?"
                ></textarea>
              </div>
              <button
                type="submit"
                data-mdb-button-init
                data-mdb-ripple-init
                class="btn btn-primary btn-lg ms-2"
              >
                Add
              </button>
            </form>
            <!-- FIM COMPONENT FORM -->

            <app-task-list></app-task-list>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
